<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test website for things</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

</head>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Brand</a>
            </div>
        </div>
    </nav>
</header>
<body ng-app="productApp">
    <div class="col-md-6" ng-controller="mainController">
        <h1 class="title">{{ title }}</h1>
        <div ng-repeat="product in products">
            <div class="repeater">
                <p class="name">{{ product.name }}</p>
                <p class="price">{{ product.price | currency }}</p>
                <p class="date">{{ product.date | date }}</p>
                <div class="rating">
                    <p class="likes" ng-click="plusOne($index)">+ {{ product.likes }}</p>
                    <p class="dislikes" ng-click="minusOne($index)">- {{ product.dislikes }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/contoller.js"></script>
</footer>
</html>